/*! CSS adapted from  type theme */
html {
    font-family: "Arial Black", Gadget, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #99CCFF;
}

.post-content h1, .excerpt h1 {
  display:none;
}

div.content {
/* width:70%;
margin:12px auto;

  padding: 12px;
  background: white; */
}

img {
  float:right;
  max-width: 50%;
}

h1.title {
  font-size:2em;
  color:Black;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;

    font-size: 1.25em;
    background: #cae1ff;
}


body.recipeshome, body.recipelist, body.recipe {
  width:70%;
  margin:12px auto;

    padding: 12px;
    background: white;
max-width: 950px;
}

body.recipe {
width:60%;
}

h1.recipeshome{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.5em;
}

h1.site-title {
font-size: 2.5em;
}

img.cover {
float:right;
width:30%;
margin:12px;
}


blockquote {

}


table {

}

td, th {

}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: #6699CC;
    text-decoration: none

}
body.recipelist a {
  color: black;
}

body.recipelist h1.site-title a {
  color: #6699CC;
}

.post-teaser h1 {
  font-family: georgia;
}

/* for a menu for all recipes */
ul.recipes {
  border: 1px solid gray;
  width: 15%;
  float:right;
  font-size: 60%;
  position: fixed;
  top:40px;
  right:20px;
  list-style: none;
  padding:4px;
  margin:0;
  background: white;
}

ul.recipes li {
padding:0;
margin:0;
text-indent: 0;
}

@media only screen and (max-width: 600px) {



  img.cover, img {
  float:none;
  width:100%;
  margin:0;
  max-width: none;
  }

  body.recipeshome, body.recipe {
    width:90%;
      padding: 0;
  }

  html {
    background: white;
  }

  h1.site-title {
  font-size: 1.5em;
  }

  ul.recipes {
    display:none;

}
